$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  margin: 0 auto;
  width: 50%;
  background-color: pink;
}
* {
  margin: 0;
  padding: 0;
}

// .grid {
//   display: grid;
//   grid-template-columns: 1fr 500px, 500px
//   1fr, 1fr 500px;
//   grid-template-rows: 1fr, 1fr, 1fr, 1fr;
//   grid-template-areas:
//   '. title title .'
//   ' .header header .'
//   '. sidebar content .'
//   '. footer footer .';
//   grid-gap: 10px;
//
// }
//
// .title {
//   grid-area: title;
//
// }
//
// .header {
//   grid-area: header;
//
// }
//
// .sidebar {
//   grid-area: sidebar;
//
// }
// .content {
//   grid-area: content;
//
// }
//
// .footer {
//   grid-area: footer;
//
// }
// .grid div:nth-child(even) {
//   background-color: red;
// }
//
// .grid div:nth-child(odd) {
//   background-color: green;
// }

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}
hr {
  border-color: black;
}

ul {
  list-style-type: none;
}
